
<div class="container" >
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://res.cloudinary.com/vvrruubb69e/image/upload/v1553018299/banner3.jpg);">
    <p><span id="typed-strings"></span></p>
  </div>
</div>
