<div class="container" >
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/vvrruubb69e/image/upload/v1553018299/banner3.jpg);">
    <h1>check <strong>Dining</strong>.com </h1>
    <p>Change your life and learn to dine.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>