
<div class="container unblue">
  <div class="row">
  <% @restaurants.each do |restaurant| %>
  <div class="col-xs-12 col-sm-6 col-lg-4 remove-padding">
      <%= link_to restaurant_path(restaurant) do %>
    <div class="card-trip">
        <%= cl_image_tag restaurant.photo%>
        <%# default profil pic should be added %>
        <div class="card-trip-infos">
          <div>
            <h2><%= restaurant.name %></h2>
            <h3><%= restaurant.location %></h3>
            <span class="extra-details">
              <div>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              </div>
              <h4>opens: 8:00 - 22:00</h4>
            </span>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
</div>
</div>

