<button type="button" id="button" class="btn btn-primary">Footer</button>


<div class="footer text-center">
  <div class="footer-links">
    <a href="https://www.instagram.com/airbnb/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/AirbnbMexico" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/airbnb_mx" target="_blank"><i class="fab fa-twitter"></i></a>
  <div class="footer-copyright text-center">
    Dining<i class="fas fa-utensils"></i> &nbsp <i class="far fa-copyright"></i>2019
  </div>
  </div>
</div>

