<% if !@reservation.nil?  %>

  <div class="reserve-sucess-modal" id="reservation-sucess">
    <div class="reservations-container" >
      <div><p>your reservation has been confirmed!</p></div>
    <%= link_to 'Back to home', restaurants_path, :class => "btn btn-secondary"%>
    </div>

  </div>
<% end %>
