  <% restaurants.each do |restaurant| %>
  <div class="col-sm-12 col-sm-6 col-lg-12" id="card <%= restaurant.id %>" >
    <%= link_to restaurant_path(restaurant) do %>
    <div class="user-card-trip">
      <%= cl_image_tag restaurant.photo,  :transformation => {:dpr => "auto", :responsive => true, :width => "auto:high" , :quality=>"auto", :fetch_format=>:webp}%>
    </div>
    <% end %>
  </div>
  <% end %>
