  <div class="container hola">
<div class="fondo">
  <div class="row">
      <div class="col-md-6 offset-md-3">
  <%= simple_form_for @user do |f| %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.button :submit, class: 'btn btn-info' %>
      <% end %>

    </div>
    </div>
    </div>
    </div>
