<h2>Welcome</h2>
<%= current_user.username %>
<br>
<h3>You're Restarurants in list:</h3>
<% current_user.restaurants.each do |restaurant| %>
<li><%= restaurant.name%></li>
 <% end %>

<h3>And here you should see any reservations you may have,</h3>
<p>or request to make a new reservation at you're fav restaurants</p>

<%# #welcome username
#show if you are a chef or not
#shows your restarurants if you are a chef
#shows any reservations made %>