<div class="container">

  <h2>Welcome <%= @user.username %>!</h2>


<div>
  <h4>Your restarurants:</h4>
  <% @user.restaurants.each do |restaurant| %>
  <li><%= restaurant.name %></li>
  <li><%= restaurant.location %></li>
   <% end %>
</div>



  <h3>And here you should see any reservations you may have,</h3>


  <%# #welcome username
  #show if you are a chef or not
  #shows your restarurants if you are a chef
  #shows any reservations made %>
</div>
