<div class="container cath">

  <div class="profile">
    <h2 class="h2"><%= @user.username.capitalize %></h2>
    <%= cl_image_tag @user.photo, class: "style_image" %>
  </div>

  <div class="resta">
    <h5>Your restarurants</h5>
    <%= render 'components/cards', restaurants: @user.restaurants  %>
  </div>

</div>


<div class="container">

    <div>
      <ol>
     <%  @user.reservations.each do |reservation| %>
      <div class="alert alert-primary" role="alert">
        <%= link_to "#{reservation.restaurant.name}", restaurant_path(reservation.restaurant)%>
      </div>
      <% end %>
    </ol>
  </div>
</div>
