<div class="container cath">

  <div class="profile">
    <h2 class="h2"><%= @user.username.capitalize %></h2>
    <%= cl_image_tag @user.photo, class: "style_image" %>
  </div>

  <div class="resta">
    <h5>Your restarurants</h5>
    <%= render 'components/cards', restaurants: @user.restaurants  %>
  </div>


<!--   <h3>And here you should see any reservations you may have,</h3>

    <div>
    <ol>
      <%  @user.reservations.each do |reservations| %>
      <li><%=  reservations.name %></li>
      <% end %>
    </ol>
  </div> -->

</div>
