<% if @active %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <%= render 'components/cards' %>
      </div>
      </div>
    </div>

    <div class="col-md-6 fixed"
    id="map"
    style="height: 100vh;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="pk.eyJ1Ijoia29tY2F0aCIsImEiOiJjanRobnk5bjkwYzVkNDNwNTBhaHl0NDZxIn0.LrfPprHVOfNxhf-6WpJVow">
     </div>
  <% else %>
  <%= render 'components/banner' %>
    <div class="container">
    <div class="row">
    <%= render 'components/cards' %>
    </div>
     </div>
</div>
<% end %>

