
.banner {
    background-size: cover;
    background-position: center;
    min-height: 300px;
    background-repeat: no-repeat;
    display: block;
    position: relative;
    margin: 10px 0px;
    box-shadow: 90mm;
    border-radius: $img-radius;
  }


  .banner {
    text-align: center;
  }

  .banner p {
    font-size: 24px;
    color: white;
    opacity: .9;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-weight: bold;
    position: relative;
    top: 138px;
    left: -190px;
  }


.padding-override {
  padding-left: 26px;
  padding-right: 26px;

}

@media screen and (max-width: 776px) {
    .banner p {
      font-size: 24px;
      color: white;
      opacity: .9;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      font-weight: bold;
      position: relative;
      top: 138px;
      left: -11px;
    }
    }
