$red_dark: #831212;
$red_bright: #c82121;



$green_dark: #005542;
$green_bright: #729d39;

$black: #1d1919;
$black_opec: #222831;


$blue: #0075f6;
$blue_light: #5893d4;


$blue_dark: #0900c3;
$blue_opec: #1b335f;

$greenish: #729d39;
$green: #005542;

$gold: #ffc60b;


