.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.nav-item.active a{
      color: #0069d9 !important;
}

.welcome {
  padding: 6px, 20px, 0, 0;
}
