.style_image {
 width: 160px;
 height: 160px;
 border-radius: 50%;
}

.cath {
  display: flex;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
  margin-top: 30px;
  .profile {
    top-margin: 50px;
  }
  .h2 {
    text-align: center;
  }
  .resta {
    text-align: center;
    justify-content: center;
  }
}





.user-show-layout {
 display: flex;
 flex-direction: row;

}

.user-box {
  border-style: solid;
  border-color: gray;
  border-width: thin;
  height: 100%;
}

.restaurant-box {
  width: 100%
}

.user-show-avatar {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1em;

}

.user-description-content {
  margin: 4px 6;
  text-align: center;
  p {
   width: 34vw;
   margin: 0 39%;
   font-size: 17px;
   margin-bottom: 2px;
 }
}

.user-show-card-container {
 width: 100%;
 overflow: auto;
 height: 20em;
 padding-left: 1em;
}

.your-restaurants {
  margin: 0px auto;
}

.right-side-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.user-show-reservation-table {
  display: flex;
  justify-content: space-between;
  width: 97%;
  border-style: solid;
  border-color: black;
  border-width: thin;
  margin-top: 0.5em;
}

.user-show-reservations {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.user-info {

  h2 {
    margin-left:  43%;
    text-align: center;
  }

}

.user-desciptioon-button {
  margin: 10px 0;
}

.restaurant-carousel {

}

.restaurant-carousel-card {


}

@media screen and (min-width: 700px) {
  .user-info {

    h2 {
      margin-left:  50%;
      text-align: center;
    }

  }

  .user-desciptioon-button {

  }



}



@media screen and (max-width: 700px) {
  .user-description-content {
    margin: 4px 6;
    text-align: center;
    p {
      margin: 2px auto;
      font-size: 14px;
      width: 97%;
    }
  }
}
