.style_image {
 width: 160px;
 height: 160px;
 border-radius: 50%;
}

.profile {
  top-margin: 50px;
}

.cath {
  display: flex;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
  top-margin: 50px;

}

.h2 {
  text-align: center;
}

.resta {
  text-align: center;
  justify-content: center;
}
