.contact1 {
  width: 100%;
  min-height: 100%;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.restaurant-content {

}

.container-contact1 {
  width: 1163px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

.restaurant-show {
  text-align: center;
  h1 {
    font-size: 32px ;
    color: black;
  }
  h2, h3 {
    font-size: 22px ;
    font-weight: 600 ;
    line-height: 1.200em ;
    color: rgb(72, 72, 72) ;
  }
  button {
    margin-top: 20px;
  }
}

.restaurant-photo {
  width: 50%;
  height: 50%;
  border: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.reviews {
  display: flex;
  justify-content: center;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-top: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
  h4 {
    font-size: 24px ;
    font-weight: 800 ;
    line-height: 1.25em ;
    color: rgb(72, 72, 72) ;
    padding-top: 2px ;
    padding-bottom: 2px ;
  }
}

.name-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  h1 {
    margin: 0 ;
    padding-right: 10px;

  }
}

.br-widget {
  margin-left: 100px;
}

.restaurant-photo-mobile {
  display: none;
}



@media screen and (max-width: 969px) {
  .fixed {
    display: none;
  }


  .restaurant-photo-mobile {
    display: block;
    width: 70%;
    height: 50%;
    border: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .restaurant-photo {
    display: none;
    width: 50%;
    height: 50%;
    border: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  }


@media screen and (max-width: 969px) {
  .add-description {
    margin-top: 5px;
  }
  }
